mixin navItem(name, href, icon = false)
    li(class=(href === link) ? "uk-active" : "")
        a(href=href)
            if icon
                span(class="uk-margin-small-right" uk-icon=icon)
            | #{name}

mixin navItems()
    div(class="uk-navbar-left")
        ul(class="uk-navbar-nav uk-visible@s")
            div(class="uk-navbar-item uk-padding-remove-horizontal")
                a(class="uk-logo" title="Netflix Logo" href="/")
                    img(src="/static/img/logo.png" alt="Logo" style="height: 42px;")
            +navItem("Home", "/")
            +navItem("Series", "/series")
            +navItem("Films", "/films")
            +navItem("New & Popular", "/new-and-popular")
            +navItem("My List", "/my-list")
            +navItem("Browse by Languages", "/browse-by-language")
    div(class="uk-navbar-right")
        ul(class="uk-navbar-nav uk-visible@s")
            +navItem("Admin", "/admin", "cog")
            div(class="uk-navbar-item")
                form(action="javascript:void(0)" id="search")
                    div(class="uk-inline")
                        span(class="uk-form-icon" uk-icon="search")
                        input(class="uk-input uk-form-width-small" type="text" placeholder="Search" aria-label="Search" id="search2")
        a(class="uk-navbar-toggle uk-navbar-item uk-hidden@s" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav")